[Unit]
Description=The service of lidar sensor
After=network.target

[Service]
Type=simple
WorkingDirectory=/opt/aiot
ExecStart=/bin/bash -c 'source /etc/profile.d/fog_env.sh && /opt/aiot/bin/lidar_controller /opt/aiot/conf/lidar/lidar_deploy.pb.txt'
Restart=always
RestartSec=1
User=nvidia

[Install]
WantedBy=multi-user.target
